PORT=3000
NODE_ENV=development

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=replace-with-public-anon-key
SUPABASE_SERVICE_ROLE_KEY=replace-with-service-role-key

API_BASE_URL=http://192.168.1.110:3000/api
GOOGLE_WEB_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
TOMTOM_API_KEY=
ADMIN_EMAIL=
ADMIN_USEIR_D=

OPENAI_API_KEY=tu_api_key_de_openai_aqui
OPENAI_TIMEOUT_MS=90000

OPENVERSE_CLIENT_ID=
OPENVERSE_CLIENT_SECRET=
